*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    background-color: rgb(46, 45, 45);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar span{
    color: rgb(230, 81, 81);

}

.nav-logo{
    margin-left: 20px;
    margin-top: 20px;
}

.navbar input{
    outline:1px solid rgb(230, 81, 81) ;
    border:1px solid rgb(230, 81, 81);
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: transparent;
    color: aliceblue;
}